{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      Organise and manage Music Venues in Ireland </p>
    <p class="box">
      <i class="fas fa-microphone fa-10x" style="color:rgb(255, 60, 0)"></i>
      <i class="fas fa-church fa-10x" style="color:deepskyblue"></i>
      <i class="fas fa-guitar fa-10x" style="color:rgb(119, 0, 255)"></i>
    </p>
  </div>
    
<div class="hero-body has-text-centered">
    <p class="title ">
      Music Detail  </p>
 </div> 
 </section>  
<body>
<section class="hero">
   <div class="hero-inner">
            <h2>To view the main site, click:</h2>
            <a href="https://wit.ie/" class="btn">Go ahead...</a>
            <br>
        </div>
    </section>
</body>

</html>
</section>
