{{> menu active="dashboard"}}
<div class="columns is-vcentered ">
    <div class="column">
        <img src="/images/indoor.jpg">
    </div>
    <div class="column">
        <img src="/images/outdoor.jpg">
    </div>
</div>
<section class="section">
    <h1>{{> add-venue}}</h1>
    <h1>{{> list-venues}}</h1>
</section>
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <i style="font-size: 33px; color: rgb(49, 155, 16);" class="fas fa-music"></i>

                <a href="">
                    <i style="color: rgb(49, 155, 16);" class="fab fa-facebook-square fa-2x"></i>
                </a>
                <a href="">
                    <i style="color: rgb(49, 155, 16);" class="fab fa-twitter-square fa-2x"></i>
                </a>
                <a href="">
                    <i style="color: rgb(49, 155, 16);" class="fab fa-instagram fa-2x"></i>
                </a>
                <a href="">
                    <i style="color: rgb(49, 155, 16);" class="fab fa-snapchat fa-2x"></i>
                </a>
            </p>
        </div>
    </div>
</footer>


