{{> menu active="dashboard"}}
<div class="columns is-vcentered ">
    <div class="column">
        <img src="/images/indoor.jpg">
    </div>
    <div class="column">
        <img src="/images/outdoor.jpg">
    </div>
</div>
<section class="section">
<h1>{{> list-venues}}</h1>
<h1>{{> add-venue}}</h1>

</section>


