{{> welcome-menu}}
<div class="columns is-centered ">
    <div class="column has-text-centered">
        <h1> Welcome to Music Venues Ireland. Sign up or Log in...</h1>
    </div>
</div>
<section class="hero">
    <img src="/images/band.jpg" alt="">
</section>
<section class="section">
    <div class="container has-text-centered">
        <h2 class="title">Music Venues Ireland</h2>
        <p>This is where musicians, promoters, venue owners and punters can add to a database of music venues in
            Ireland.
            These venues can be indoor, outdoor or hybrid, where there is both indoor and outdoor space for music lovers
            to enjoy
            what they enjoy.
        </p>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <i style="font-size: 33px; color: rgb(49, 155, 16);" class="fas fa-music"></i>

                <a href="">
                    <i style="color: rgb(49, 155, 16);" class="fab fa-facebook-square fa-2x"></i>
                </a>
                <a href="">
                    <i style="color: rgb(49, 155, 16);" class="fab fa-twitter-square fa-2x"></i>
                </a>
                <a href="">
                    <i style="color: rgb(49, 155, 16);" class="fab fa-instagram fa-2x"></i>
                </a>
                <a href="">
                    <i style="color: rgb(49, 155, 16);" class="fab fa-snapchat fa-2x"></i>
                </a>
            </p>
        </div>
    </div>
</footer>