{{> welcome-menu}}

<div class="columns is-vcentered ">
    <div class="column has-text-centered">
        <h> Sign up or Log in... </h>
    </div>
    <div class="column">
        <img src="/images/indoor.jpg">
    </div>
    <div class="column">
        <img src="/images/outdoor.jpg">
    </div>
</div>