{{> menu}}

<section class="section">
 <div class="box">
  <div class="title">
 <h1>Detail Name:</h1> <h2>{{venue.title}}</h2>
 <h1>Detail Type:</h1> <h2>{{venue.vtype}}</h2>
 </div>

  <h1>Description: </h1>  {{venue.description}} 
</section>
  <br>
  <a href="/dashboard" >
   <input type="submit" value="BACK TO DASHBOARD" />


