<form action="dashboard/addvenue" method="POST">
  <label for="venue">Detail Type</label>
  <select name="venue">
    <option value="Indoor">Indoor</option>
    <option value="Outdoor">Outdoor</option>
    <option value="Hybrid">Hybrid</option>
  </select>
  <input type="text" name="title" placeholder="Enter Detail Name" />
  <textarea name="description" placeholder="Add Detail Description"></textarea>
  <input type="submit" value="submit" />
</form>